// vars project
$image_source: '../assets/images/';

$white: '#f0efef';
$yellow: '#facd34';
$error-red: #f00;

$default-rotate: -5deg;
$default-animation-duration: 1s;

// defaults
$html-font-size: 62.5%;
$font-text: Arial, Helvetica, sans-serif;


// compas imports
@import 'compass/reset';
@import 'compass/css3';

// gradients for IE9
$experimental-support-for-svg: true;

// general
@import 'mixins';
@import 'default_classes';
@import 'fonts';
@import 'form';

//pages

@import 'login';
@import 'deelnemers';
@import 'winnaar';
@import 'vote';

@include border-box-default();

