.tbody {

	img {
		@include center;
		border-radius: 200px;
		border: 3px solid #52b9a7;
		max-width: 200px;
		max-height: 200px;

	}

	.name {
		display: block;
		margin: 0 10px;
		background-color: #52b9a7;
		text-align: center;
	}

	div {
		width: 200px;

		p {
			margin-top: -20px !important;
			bottom: 10px;
			position: relative;
			padding: 0;
		}

	}

	div:nth-child(1) {
		position: absolute;
		left: 50%;
		margin-left: -150px;
		width: 300px;
		top: 320px;
	}

	div:nth-child(2) img,
	div:nth-child(3) img,
	div:nth-child(4) img {
		max-width: 135px !important;
		max-height: 135px !important;
	}

	div:nth-child(2),
	div:nth-child(3) {
		position: relative;
		margin-top: 350px;
	}

	div:nth-child(2) {
		float: left;
		margin-left: 5px;
	}

	div:nth-child(3) {
		float: right;
		margin-right: 5px;
	}

	div:nth-child(4) {
		position: absolute;
		left: 50%;
		margin-left: -150px;
		width: 300px;
		bottom: 200px;
	}

}

.message {

	position: absolute;
	bottom: 50px;
	z-index: 2;
	margin-top: 160px;
	display: block;
	width: 100%;
	background-color: #0070C9;
	padding: 25px;
	text-align: center;
	font-size: 2.2em !important;
	line-height: 38px;

}
