.tbody {

	img {

		@include center;
		border: 3px solid #0070C9;
		max-width: 70px;
		max-height: 70px;

	}

	.groep {
		display: block;
		margin: 20px;
		background-color: #0070C9;
		text-align: center;
	}

	div {

		width: 100px;

		p {
			margin-top: -20px !important;
			bottom: 10px;
			position: relative;
			padding: 0;
		}

	}

}
