$Quicksand-Light-webfont-path: '../assets/fonts/Quicksand-Light-webfont/';

@font-face {
    font-family: 'Quicksand-Light-webfont';
    src: url($Quicksand-Light-webfont-path + 'Quicksand-Light-webfont.eot');
    src: url($Quicksand-Light-webfont-path + 'Quicksand-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url($Quicksand-Light-webfont-path + 'Quicksand-Light-webfont.woff2') format('woff2'),
         url($Quicksand-Light-webfont-path + 'Quicksand-Light-webfont.woff') format('woff'),
         url($Quicksand-Light-webfont-path + 'Quicksand-Light-webfont.ttf') format('truetype'),
         url($Quicksand-Light-webfont-path + 'Quicksand-Light-webfont.svg#Quicksand-Light-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
