.winnaar {

article {

	.winner {
		width: 87%;
		@include center;

		position: relative;
		margin-bottom: 60px;

		.winner_image {
			position: relative;
			left: 95px;
			top: 55px;
			border-radius: 100%;
			box-shadow: 0 0 70px #52B9A7;
		}

		.winner_bg {
			position: absolute;
			z-index: 0;
		}

	}

	.winner2 {

		.winner_info {
			width: 300px;
			position: relative;
			z-index: 3;
			h2 {
				color: #52B9A7;
				font-size: 5em;
			}

			.eindscore {
				font-size: 7em;
			}

		}

		.buttons {
			@include center;
			width: 425px;
			margin-top: 40px;

		li {
			display: inline;

			.foto {
				padding: 2px 30px;
				border-radius: 10px;
				background-color: #EE5786;
			}

			.replay {
				padding: 2px 30px;
				border-radius: 10px;
				background-color: #52B9A7;
			}

			a {
				color: #FCFF32;
				text-decoration: none;
			}

		}

	}

	}

}

}
