@import '_variables';
@import '_home';
@import '_register';
@import '_profilephoto';
@import '_group';
@import '_scores';
@import '_week';
@import '_day';
@import '_contestant';
@import '_form'; //en navigatie
@import '_buttons';

body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'liberationsans';

    background-image: url('../assets/visual/bg.jpg');
    background-color: #eeeeee;
}

nav {
	height: 40px;
	background-color: #fafafa;
	padding: 0 10px 0 10px;
	button {
		border: none;
		background: none;
		height: inherit;

		&:nth-of-type(1) {
			font-family: 'liberationsans';
			font-weight: bold;
			color: #292929;
			font-size: 1.8em;
			padding: 0 0 0 15px;
			background-image: url("../assets/visual/icons/back.jpg");
			background-repeat: no-repeat;
			background-position: center left;
			background-size: 10px 17px;
		}

		&:nth-of-type(2) {
			float: right;
			width: 40px;
			background-image: url("../assets/visual/icons/scores.jpg");
			background-size: 60%;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}

.hidden {
	display: none;
}

.clear {
	clear: both;
}

a {
	text-decoration: none;
}
