	<td class="artist">{{artist}}</td>
	<td class="title">{{title}}</td>
	<td class="format"><a href="">{{format}}</a></td>
	<td class="date">{{date}}</td>
	<td class="delete"><a href="" class="delete-link">remove</a></td>
