	<nav>
		<button id="back" class="back">weekoverzicht</button>
		<button id="scores" class="scores"><p class="hidden">scores</p></button>
	</nav>
	<section>
		<header id="date">
			<h1>
				<p>Dag</p><p id="day-number">1</p>
			</h1>
			<h2>
				18/09/2015
			</h2>
		</header>
		<section>
			<header id="object-of-the-day">
				<h1>
					object van de dag
				</h1>
			</header>
			<span id="object-preview">
				<p>
					stoel
				</p>
			</span>
		</section>
		<section>
				<header class="hidden">
					<h1>dag overzicht</h1>
				</header>
				<section class="fotos"></section>
				<article class="submit-today">
					<header class="hidden">
						<h1>pak een foto!</h1>
					</header>
					<p class="call-to-action">
						Je kan nog 2e worden voor 2 punten!
					</p>
					<form id="file-form" method="POST">
  				<input type="file" id="imageInput" name="imageInput" class="imageInput hidden" />
  				{{!-- <input type="text" name="day" value="{{day}}"/> --}}
  				{{!-- <input type="text" name="group_id" value="{{group_id}}"/> --}}
					</form>
						<button class="foto">
						neem een foto!
					</button>


				</article>
			</section>

	</section>
