<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Collection</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/screen.css"/>
</head>
<body>
	<div class="container">
		<header class="page-title">
		  <h1>Albums on {{format}}</h1>
		</header>
		<a href="" class="back">back to all albums</a>
		<table>
		  <thead>
		    <tr>
		      <th class="artist">Artist</th>
		      <th class="title">Title</th>
		      <th class="format">Format</th>
		      <th class="date">Added</th>
		    </tr>
		  </thead>
		  <tbody class="albums">

		  </tbody>
		</table>
	</div>
</body>
</html>