<a class="logout" href="index.php?page=logout">Logout</a>

<button class="add blue_btn">+</button>

<form enctype="multipart/form-data" method="post" name="fileinfo" id="form" class="wb-form hidden image-input">
	<input type="text" id="day" name="day" value="1" class="form-control" />
	<input type="text" id="group_id" name="group_id" value="2" class="form-control" />
	<input type="file" id="imageInput" name="imageInput" class="imageInput form-control" />
</form>
<div class="day">
	<p class="tcenter">Fotos</p>
	<div class="images_wrapper">
		<ul class="images">
		</ul>

	</div>

</div>
