<article class="submission-holder">
	<header class="hidden">
		<h1>eerste plaats</h1>
	</header>
	<span class="score-banner">
		<p>
			15
		</p>
	</span>
	<span class="submission-details">
		<img class="uploaded" src="assets/usergenerated/pictures/{{fotoname}}" alt="ingave">
		<span class="submission-user-details">
			<span class="user-profile-photo" >
				<img src="assets/usergenerated/profilepictures/lala.png" alt="profiel foto">
			</span>
			<p>
				eennaamvandeelnemer
			</p>
			<p>
				verifiëren
			</p>
			<button>
			</button>
			<button>
			</button>
		</span>
	</span>
</article>
