<a href="#" class="goGroup"><p class="groupnaam">{{groupname}}</p></a>
<a href="#" class="addMe">+</a>

{{!-- <ul>
 	<li><img src="./assets/storage/{{picture}}" alt="{{username}}"></li>
	<li><p class="name">{{username}}</p></li>
</ul> --}}
