	<nav>

		<button id="back">afmelden</button>

		<button id="scores"><p class="hidden">scores</p></button>
	</nav>
	<section>
		<header id="week-overview-header">
			<h1 class="hidden">
				week overzicht
			</h1>
		</header>
		<article class="day">
			<span class="day-title">
				Maandag
			</span>
			<button class="day-button">
				<p>
					stoel
				</p>
			</button>
			<button class="detail-button"></button>
		</article>
		<article class="day">
			<span class="day-title">
				Maandag
			</span>
			<button class="day-button">
				<p>
					stoel
				</p>
			</button>
			<button class="detail-button"></button>
		</article>
		<article class="day">
			<span class="day-title">
				Maandag
			</span>
			<button class="day-button">
				<p>
					stoel
				</p>
			</button>
			<button class="detail-button"></button>
		</article>
		<article class="day">
			<span class="day-title">
				Maandag
			</span>
			<button class="day-button">
				<p>
					stoel
				</p>
			</button>
			<button class="detail-button"></button>
		</article>
	</section>
