<a class="logout" href="index.php?page=logout">Logout</a>
<section class="deelnemers">
			<h1>Deelnemers</h1>
	<header>
		<h1><span>deelnemers</span></h1>
	</header>
	<article>
		<header>
			<h1><span>deelnemers</span></h1>
		</header>
		<div class="tbody"></div>

		<h1 class="message">De photochallenge start met 3 deelnemers</p>

<!-- <a href="day2" class="vote">vote pagina</a>
<a href="day2" class="host">host pagina</a>
<a href="day2" class="winner">winner pagina</a>
 -->
	</article>
</section>
