<a class="logout" href="index.php?page=logout">Logout</a>

<header>
	<h2>Groepen</h2>
</header>

<section class="groups">
	<a href="#" class="add_group">+</a>
	<input type="text" name="filter" placeholder="Filter" class="filter"/>
	<div class="tbody"></div>
</section>
