<a class="logout" href="index.php?page=logout">Logout</a>

<input type="text" name="groupname" class="groupname" value="" placeholder="nieuwe groep">
<input type="submit" name="" class="add" value="submit">

<section class="groups">
	<input type="text" name="filter" placeholder="Filter" class="filter"/>
	<div class="tbody"></div>
</section>
