<a class="logout" href="index.php?page=logout">Logout</a>
<section class="vote">
	<header>
		<h1><span>vote</span></h1>
	</header>
	<article>

		<header>
			<h1><span>Zangtalent</span></h1>
			<img class="titel" src="./assets/images/dag_{{day}}.png" height="141" width="640" alt="">
		</header>
			<h2 class="blue tcenter">genre: pop</h2>
			<div class="group center">
				<h2 class="yellow tcenter">Zangtalent</h2>
				<ul class="players center"></ul>
			</div>

	</article>

	<button class="vote_button pink_btn">Stem!</button>

</section>
