<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Photochallenge</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h1>Register</h1>
	<form action="index.html">

		<div class="form-group<?php if(!empty($errors['email'])) echo ' has-error'; ?>">
			<label class="col-sm-2 control-label" for="email">email:</label>
			<div class="col-sm-10">
				<input type="text" name="email" id="email" data-required=true class="form-control" />

			</div>
		</div>

		<div class="form-group<?php if(!empty($errors['password'])) echo ' has-error'; ?>">
			<label class="col-sm-2 control-label" for="password">wachtwoord:</label>
			<div class="col-sm-10">
				<input type="password" name="password" id="password" data-required=true class="form-control" />
			</div>
		</div>

		<a href="register" class="login"> register </a>
		<br />
		<a href="homepage"> homepage </a>

	</form>
</body>
</html>
