	<nav>
		<button id="back" class="back">terug</button>
	</nav>
	<section id="scores-overview">
		<header id="scores-overview-header">
			<h1>
				week scores
			</h1>
		</header>
		<p>
			Iedereen wordt <span>volgens zijn score gerangschikt. </span> Op het einde van de week is er een <span>winnaar</span>.
		</p>
		<article class="contestant">
			<span class="overall-rank">
				1
			</span>
			<span class="contestant-preview">
				<img src="assets/usergenerated/profilepictures/lala.png" alt="foto" />
			</span>
			<span class="contestant-name">
				Matthias
			</span>
			<span class="contestant-score">
				score: 8
			</span>
		</article>
		<article class="contestant">
			<span class="overall-rank">
				1
			</span>
			<span class="contestant-preview">
				<img src="assets/usergenerated/profilepictures/lala.png" alt="foto" />
			</span>
			<span class="contestant-name">
				Matthias
			</span>
			<span class="contestant-score">
				score: 8
			</span>
		</article>
		<article class="contestant">
			<span class="overall-rank">
				1
			</span>
			<span class="contestant-preview">
				<img src="assets/usergenerated/profilepictures/lala.png" alt="foto" />
			</span>
			<span class="contestant-name">
				Matthias
			</span>
			<span class="contestant-score">
				score: 8
			</span>
		</article>
	</section>
