<div class="players center">
	<div>
		<img src="" alt="">
		<p>{{username}}</p>
		<input type="hidden" name="user[]" value="{{id}}">
		<input type="range" class="zang_{{id}}" name="zang[]" min="0" max="10">
		<span class="scale tleft">0</span><span class="scale tright">10</span>
	</div>
</div>
