<a class="logout" href="index.php?page=logout">Logout</a>
<section class="vote">
	<header>
		<h1><span>vote</span></h1>
	</header>
	<article>

		<header>
			<h1><span>Zangtalent</span></h1>
			<img class="titel" src="./assets/images/dag_{{day}}.png" height="141" width="640" alt="">
		</header>
			<h2 class="blue tcenter">genre: pop</h2>
			<div class="group center">
				<h2 class="yellow tcenter">Zangtalent</h2>
				<ul class="players center"></ul>
			</div>

	</article>

	<article>
		<header>
			<h1><span>Host</span></h1>
		</header>

			<img src="" alt="">
			<h1 class="blue tcenter">Host</h1>

			<div class="group center">
				<div class="center">
					<h2 class="yellow tcenter">Sfeer</h2>
					<div>
						<input type="range" class="sfeer" min="0" max="10">
						<span class="scale tleft">0</span><span class="scale tright">10</span>
					</div>
				</div>

				<div class="center">
					<h2 class="yellow tcenter">Food 'n drinks</h2>
					<div>
						<input type="range" class="food" min="0" max="10">
						<span class="scale tleft">0</span><span class="scale tright">10</span>
					</div>
				</div>
			</div>

	</article>

	<button class="vote_button pink_btn">Stem!</button>

</section>
