<a class="logout" href="index.php?page=logout">Logout</a>
<section class="voted">
	<header>
		<h1><span>voted</span></h1>
	</header>
	<article>

		<header>
			<h1><span>voted</span></h1>
			<img class="titel" src="./assets/images/gestemd.png" height="141" width="640" alt="">
		</header>

	<article>
		<header>
			<h1><span>Voted</span></h1>
		</header>

			<p class="tcenter">U heeft gestemd.<br />Bedankt!</p>
			<button class="fotos tcenter blue_btn">foto's</button>

	</article>

	</article>
</section>
