<a class="logout" href="index.php?page=logout">Logout</a>
<section class="winnaar">
	<header>
		<h1><span>winner</span></h1>
	</header>
	<article>

		<header>
			<h1><span>winner</span></h1>
			<img class="titel" src="./assets/images/winner.png" height="141" width="640" alt="">
		</header>

		<div class="winner">
			<img class="winner_bg" src="./assets/images/winnaar.png" height="439" width="552" alt="Karaoke">
			<img class="winner_image" src="./assets/storage/{{picture}}" height="340" width="340" alt="wouter">
		</div>

		<div class="winner2">
			<div class="winner_info center tcenter">
				<h2>{{username}}</h2>
				<p>Met een eindscore van:</p>
				<span class="eindscore tcenter">{{score}}</span>
			</div>

			<ul class="buttons">
				<li><a class="foto pink_btn" href="#">Foto's</a></li>
				<li><a class="replay blue_btn" href="index.php?page=replay">Replay</a></li>
			</ul>
		</div>


	</article>
</section>
